* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}
header {
  display: block;
  width: 100%;
  height: 100px;
  min-width: 420px;
  box-shadow: 0 0 8px #000000;
  margin-bottom: 14px;

  background-color: #382F2F;
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
}

main {
  display: block;
  width: 900px;
  min-width: 420px;
  max-width: 95%;
  box-shadow: 0 0 5px #707070;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;

  font-size: 1em;
  font-weight: bold;

  background-image: url(../img/background3.jpg);
  background-repeat: repeat;
  background-size: 600px;
}

main::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

main > span.text {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 100%;
  margin-top: 5px;
}

main > span.text > input[type=text] {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 70%;
  border: 1px solid #C0C0C0;
  padding: 4px;
  margin-bottom: 2px;
}

main > span.text > label {
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 0;
  padding-top: 4px;
  width: 30%;
}

main > span.text > select {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 70%;
  border: 1px solid #C0C0C0;
  padding: 4px;
}

main > span.checkbox {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 100%;
  margin-top: 7px;
}

span::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

main > span.checkbox > input[type=checkbox] {
  display: block;
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}
main > span.checkbox > label {
  display: block;
  float: left;
  padding: 0;
}

button.primary {
  padding: 4px 8px;
  float: right;
  margin-left: 5px;
  background-color: #b71c1c;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}
button.second {
  padding: 4px 8px;
  float: right;
  margin-left: 3px;
  margin-top: 5px;
  font-weight: bold;
  background-color: #cccccc;
}
br {
  clear: both;
}
div.botoes {
  display: block;
  margin-top: 5px;
  clear: both;
}
div.botoes::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha {
  display: block;
  width: 900px;
  min-width: 420px;
  max-width: 95%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;
  margin-bottom: 600px;
  position: relative;

  border-radius: 0;
  box-shadow:
	  inset #3A3D3E 0 0 0 2px,
    inset #5A5D3E 0 0 0 4px,
    inset #7A7D3E 0 0 0 6px;

  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;

  background-image: url(../img/background4.jpg);
  background-repeat: repeat;
  background-size: 2000px;
}

input[type=text], input[type=number], textarea {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: .9em;
  background-color: rgba(255, 255, 255, 0);
}

div.ficha::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco50 {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco50::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco100 {
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco100::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco100-fluido {
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco100-fluido::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco100-pericias {
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco100-pericias::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco100-outros {
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco100-outros::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco33 {
  display: block;
  float: right;
  width: 33%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco33::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco66 {
  display: block;
  float: left;
  width: 65%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco66::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.fotografia {
  display: block;
  float: right;
  box-sizing: border-box;

  position: absolute;
  right: 14px;
  top: 12px;

  width: 182px;
  height: 184px;
}

div.ficha div.fotografia > div.fotografia-interna {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

div.ficha div.fotografia > div.moldura {
  background-image: url(../img/moldura.png);
  background-size: 100%;
  z-index: 1;
}

div.ficha div.fotografia > div.foto {
  background-image: url(../img/default_user.jpg);
  background-size: 95%;
  z-index: 0;

  -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}

/* Início - Campos com valor único */

div.ficha div.informacoes {
  display: block;
  float: left;
  width: 100%;
  margin-top: 5px;
}

div.ficha div.informacoes-idade {
  width: 30%;
}

div.ficha div.informacoes-nascimento {
  width: 68%;
  margin-left: 2%;
}

div.ficha div.informacoes::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.informacoes > label {
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
}

div.ficha div.informacoes > label.valor {
  display: block;
  width: 100%;
  height: 29px;
  margin-top: 12px;
  padding-top: 6px;
  font-style: normal;
  border: 1px solid #ccc;
  text-indent: 2px;
  overflow: auto;
}

div.ficha div.informacoes > input[type=text].valor {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 2px;

  height: 29px;
  margin-top: 12px;
  padding-top: 6px;
  font-style: normal;
  border: 1px solid #ccc;
  text-indent: 2px;
}

div.ficha div.informacoes > input[type=text].valor-center {
  text-align: center;
  text-indent: 0;
}

div.ficha div.informacoes > input[type=number].valor {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
  text-align: center;

  height: 29px;
  margin-top: 12px;
  padding-top: 6px;
  font-style: normal;
  border: 1px solid #ccc;
}

div.ficha div.informacoes > input[type=text].valor-amarelo {
  border: 1px solid #E59700;
  background-color: #FCFAE1;
}

div.ficha div.informacoes > label.sobrecampo {
  display: block;
  position: absolute;
  line-height: 14px;
  text-align: center;
  border-radius: 3px;

  font-size: 0.7em;
  font-weight: bold;
  background-color: #ccc;

  margin-left: 4px;
  z-index: 1;
}

div.ficha div.informacoes > label.jogador {
  width: 50px;
  background-color: #CCCAB1;
  color: #726E54;
}

div.ficha div.informacoes > label.personagem {
  width: 74px;
  background-color: #CCCAB1;
  color: #726E54;
}

div.ficha div.informacoes > label.ocupacao {
  width: 64px;
}

div.ficha div.informacoes > label.idade {
  width: 40px;
}

div.ficha div.informacoes > label.nascimento {
  width: 74px;
}

/* Fim - Campos com valor único */


/* Início - Campos com vários valores */

div.ficha div.bloco {
  display: block;
  float: left;
  width: 100%;
  margin-top: 5px;
}

div.ficha div.bloco::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > label, div.ficha div.bloco > div {
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
}

div.ficha div.bloco > div.container {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 12px;
  padding-top: 6px;
  font-style: italic;
  border: 1px solid #ccc;
  text-indent: 2px;
  overflow: hidden;
}

div.ficha div.bloco100-fluido div.bloco > div.container,
div.ficha div.bloco33 div.bloco > div.container,
div.ficha div.bloco66 div.bloco > div.container {
  height: 64px;
}

div.ficha div.bloco > div.container::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > label.sobrecampo {
  display: block;
  position: absolute;
  line-height: 14px;
  text-align: center;
  border-radius: 3px;

  font-size: 0.7em;
  font-weight: bold;
  background-color: #ccc;

  margin-left: 4px;
  z-index: 1;
}

div.ficha div.bloco > label.atributos {
  width: 58px;
}

div.ficha div.bloco > label.atributos-pontos-de-vida {
  width: 90px;
}

div.ficha div.bloco > label.atributos-sanidade {
  width: 60px;
}

div.ficha div.bloco > label.atributos-sorte {
  width: 42px;
}

div.ficha div.bloco > label.atributos-magia {
  width: 96px;
}

div.ficha div.bloco > label.atributos-combate {
  width: 58px;
}

div.ficha div.bloco > label.sobrecampo-pericias {
  width: 136px;
}

div.ficha div.bloco > label.sobrecampo-armas {
  width: 48px;
}

div.ficha div.bloco > label.sobrecampo-equipamentos {
  width: 152px;
}

div.ficha div.bloco > label.atributos-dinheiro-e-recursos {
  width: 120px;
}

div.ficha div.bloco > label.atributos-patrimonios {
  width: 70px;
}

div.ficha div.bloco > label.sobrecampo-antecedentes {
  width: 82px;
}

div.ficha div.bloco > label.sobrecampo-anotacoes {
  width: 148px;
}

div.ficha div.bloco > div.container > div.horizontal-texto {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 98%;
  text-align: left;
  border: 0;
  padding: 0;
  margin: 1%;
  margin-top: 1.5%;

  font-size: .8em;
  font-style: normal;
  font-weight: normal;
}

div.ficha div.bloco > div.container > div.horizontal-texto > span.bold {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 3px;
}

div.ficha div.bloco > div.container > div.horizontal-texto > span.valor {
  display: block;
  float: left;
  font-weight: normal;
}

div.ficha div.bloco > div.container > div.horizontal-texto > input[type=text].valor {
  display: block;
  float: left;
  font-weight: normal;
  border: 0;
  width: 75%;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0);
}

div.ficha div.bloco > div.container > div.horizontal-texto::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > div.container > div.campo {
  display: block;
  float: left;
  width: 31%;
  box-sizing: border-box;
  padding: 0;
  margin: 1%;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo {
  width: 46%;
  margin: 2%;
}

div.ficha div.bloco > div.container > div.campo-menor {
  width: 29%;
  margin: 0;
  margin-top: 1%;
}

div.ficha div.bloco > div.container > div.campo-maior {
  width: 36%;
}

div.ficha div.bloco66 div.bloco > div.container > div.campo {
  width: 48%;
  margin-left: -0.5%;
}

div.ficha div.bloco66 div.bloco > div.container > div.campo:last-child {
  margin-left: 1%;
}

div.ficha div.bloco33 div.bloco > div.container > div.campo {
  display: block;
  float: left;
  width: 96%;
  box-sizing: border-box;
  padding: 0;
  margin: 2%;
  margin-top: 6px;
}

div.ficha div.bloco > div.container > div.campo::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > div.container > div.campo > label {
  display: block;
  float: left;
  width: 32%;
  height: 40px;
  font-size: 1em;
  box-sizing: border-box;
  padding-top: 2px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}

div.ficha div.bloco > div.container > div.campo-maior > label {
  width: 52%;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label {
  width: 53%;
}

div.ficha div.bloco > div.container > div.campo > label::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > div.container > div.campo > label.movimento {
  width: 50%;
  height: 40px;
  padding-top: 8px;
  font-size: .6em;
  text-align: center;
}

div.ficha div.bloco > div.container > div.campo > label.valor-movimento {
  width: 48%;
  margin-left: 2%;
  line-height: 40px;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0;
  padding-top: -1px;
  text-indent: -2px;
}

div.ficha div.bloco > div.container > div.campo > input[type=number] {
  display: block;
  float: left;
  width: 32%;
  height: 40px;
  font-size: 1em;
  box-sizing: border-box;
  padding-top: 2px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}

div.ficha div.bloco > div.container > div.campo > input[type=number].valor-movimento {
  width: 48%;
  margin-left: 2%;
  line-height: 40px;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0;
  padding-top: -1px;
  text-indent: -2px;
}

div.ficha div.bloco > div.container > div.campo > label.secundario {
  width: 54%;
  height: 40px;
  padding-top: 10px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-indent: -2px;

  margin-top: 2px;
}

div.ficha div.bloco > div.container > div.campo > label.secundario-margin {
  margin-top: -6px;
}

div.ficha div.bloco > div.container > div.campo > label.secundario-color {
  font-weight: bold;
  color: #726E54;
}

div.ficha div.bloco > div.container > div.campo > label.valor-secundario {
  width: 44%;
  margin-left: 2%;
  line-height: 38px;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0;
  padding-top: -1px;
  text-indent: -2px;

  margin-top: 2px;
}

div.ficha div.bloco > div.container > div.campo > input[type=number].valor-secundario,
div.ficha div.bloco > div.container > div.campo > input[type=text].valor-secundario {
  display: block;
  float: left;
  height: 40px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  text-transform: none;

  width: 44%;
  margin-left: 2%;
  line-height: 38px;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0;
  padding-top: -1px;
  text-indent: -2px;

  margin-top: 2px;
}

div.ficha div.bloco > div.container > div.campo > input[type=number].valor-secundario-amarelo {
  border: 1px solid #E59700;
  background-color: #FCFAE1;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #000;
  padding: 0;
  padding-top: -1px;
  text-indent: -2px;
  margin-top: 6px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal > span.nome {
  display: block;
  float: left;
  line-height: 15px;
  text-align: center;

  font-weight: normal;
  background-color: #ccc;
  text-indent: 0;
  text-transform: none;

  font-size: .6em;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal > span.valor {
  display: block;
  float: left;
  text-align: center;

  font-weight: normal;
  text-transform: none;

  font-size: 1em;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal > span.valor-menor {
  padding-top: 2px;
  font-size: .8em;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal > input[type=text].valor {
  display: block;
  float: left;
  text-align: center;

  width: 100%;
  line-height: 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  font-weight: normal;
  text-transform: none;
  background-color: rgba(255, 255, 255, 0);

  font-size: 1em;
}

div.ficha div.bloco > div.container > div.campo > label.horizontal > input[type=text].valor-menor {
  font-size: .7em;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto {
  width: 50%;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #000;
  padding: 0;
  padding-top: -1px;
  text-indent: -2px;
  margin-top: 2px;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto:first-child > span.nome {
  border-top-left-radius: 10px;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto:last-child > span.nome {
  border-top-right-radius: 10px;
  text-indent: -1px;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto > span.nome {
  display: block;
  float: left;
  line-height: 15px;
  text-align: center;

  font-weight: normal;
  background-color: #ccc;
  text-indent: 0;
  text-transform: none;

  font-size: .6em;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto > span.valor {
  display: block;
  float: left;
  text-align: center;

  font-weight: normal;
  text-indent: -2px;
  text-transform: none;

  font-size: 1em;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto > input[type=number].valor {
  display: block;
  float: left;
  text-align: center;

  font-weight: normal;
  text-indent: -2px;
  text-transform: none;

  font-size: 1em;
  width: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 1px;
  margin-left: -1px;

  border: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;

  /*
  border: 1px solid #E59700;
  border-bottom-right-radius: 10px;
  background-color: #FCFAE1;
  */
}

div.ficha div.bloco > div.container > div.campo > label.conjunto > input[type=number].esquerda {
  border-bottom-left-radius: 10px;
  text-indent: 2px;
}

div.ficha div.bloco > div.container > div.campo > label.conjunto > input[type=number].direita {
  border-bottom-right-radius: 10px;
  margin-left: 1px;
  text-indent: -2px;
}

div.ficha div.bloco > div.container > div.campo-flags {
  padding: 4px 2px;
  background-color: #FCFAE1;
  margin-top: -4px;
}

div.ficha div.bloco > div.container > div.campo > div.flags {
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-size: .8em;

  border: 0;
}

div.ficha div.bloco > div.container > div.flags-margin {
  margin-top: 4px;
}

div.ficha div.bloco > div.container > div.campo > div.flags::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.bloco > div.container > div.campo > div.flags > span.flag {
  display: block;
  float: left;
  margin-left: 4px;
  padding-top: 2px;
  color: #726E54;
}

div.ficha div.bloco > div.container > div.campo > div.flags > input[type=checkbox] {
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 4px;
}

div.ficha div.bloco > div.container > div.campo > label > span {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
}

div.ficha div.bloco > div.container > div.campo > label > span.nome {
  display: block;
  float: left;

  text-align: left;
  line-height: 40px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > span.nome {
  font-size: .7em;
  width: 80%;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > input[type=checkbox] {
  display: block;
  float: left;
  line-height: 40px;
  width: 20%;
  margin-top: 13px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > span.checkbox {
  display: block;
  float: left;
  line-height: 40px;
  width: 20%;
  margin-top: 13px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.carregando-pericias {
  display: block;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 80px;

  color: #E59700;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.carregando-outros {
  display: block;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 80px;

  color: #E59700;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}

div.ficha div.bloco100-outros div.bloco > div.container > textarea.equipamentos {
  display: block;
  width: 98%;
  margin: 1%;
  height: 140px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: .9em;
  font-style: normal;
  font-weight: normal;

  resize: none;
}

div.ficha div.bloco100-outros div.bloco > div.container > textarea.anotacoes {
  display: block;
  width: 98%;
  margin: 1%;
  height: 140px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: .9em;
  font-style: normal;
  font-weight: normal;

  resize: none;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente {
  display: block;
  float: left;
  width: 98%;
  margin: 1%;
  box-sizing: border-box;
  padding: 4px 0 0 4px;

  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  background-color: rgba(230,230,230,0.5);

  border: 1px solid #E59700;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte {
  display: block;
  float: left;
  width: 99%;
  margin: 0;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 0;
  box-sizing: border-box;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte > label.sobre {
  display: block;
  float: left;

  box-sizing: border-box;
  line-height: 14px;
  font-size: 0.7em;
  font-weight: bold;
  background-color: #ccc;
  border-top-right-radius: 10px;
  padding: 2px 8px 2px 2px;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte > label.conexao-chave {
  display: block;
  float: right;
  width: 50%;

  box-sizing: border-box;
  line-height: 16px;
  font-size: 0.7em;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 0;
  padding-right: 6px;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte > label.conexao-chave > span {
  display: block;
  float: right;
  padding: 0;
  margin: 0;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte > label.conexao-chave > input[type=checkbox] {
  display: block;
  float: right;
  padding: 0;
  margin: 1px 2px 0 0;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte > label.conexao-chave::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente > div.parte > textarea.valor {
  display: block;
  float: left;

  width: 100%;
  margin: 0;
  height: 60px;
  box-sizing: border-box;
  font-size: 0.8em;
  line-height: 16px;

  border: 1px solid #ccc;
  padding: 2px;
  text-indent: 0;
  text-align: left;

  overflow-y: auto;
  overflow-x: hidden;
  font-style: normal;
  font-weight: normal;

  resize: none;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma {
  display: block;
  float: left;
  width: 98%;
  margin: 1%;
  box-sizing: border-box;
  padding: 4px 0 0 4px;

  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  background-color: rgba(230,230,230,0.5);

  border: 1px solid #E59700;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte {
  display: block;
  float: left;
  width: 24%;
  margin: 0;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 0;
  box-sizing: border-box;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte-nome {
  width: 66%;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte-dano {
  width: 32%;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte > label.sobre {
  display: block;
  float: left;

  box-sizing: border-box;
  line-height: 14px;
  font-size: 0.7em;
  font-weight: bold;
  background-color: #ccc;
  border-top-right-radius: 10px;
  padding: 2px 8px 2px 2px;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte > input[type=text].valor {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.9em;
  line-height: 16px;
  border: 1px solid #ccc;
  padding: 2px;
  text-indent: 2px;
  text-align: center;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte > input[type=text].left {
  text-align: left;
}

div.ficha div.bloco100-outros div.bloco > div.container > div.arma > div.parte > input[type=text].pequeno {
  font-size: 0.7em;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label.uma-palavra > span.nome {
  margin-top: 13px;
  line-height: 14px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label.uma-palavra > input[type=checkbox] {}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label.duas-palavras > span.nome {
  font-size: .7em;
  line-height: 12px;
  margin-top: 4px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label.duas-palavras > input[type=checkbox] {
  margin-top: 4px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label.tres-palavras > span.nome {
  font-size: .7em;
  line-height: 12px;
  margin-top: 1px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label.tres-palavras > input[type=checkbox] {
  margin-top: 1px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > span.nome > span.menor1 {
  font-size: .9em;
  line-height: 14px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > span.nome > span.menor2 {
  font-size: .8em;
  line-height: 14px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > span.nome > span.menor3 {
  font-size: .7em;
  line-height: 14px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > label > span.nome > span.menor4 {
  font-size: .6em;
  line-height: 12px;
}

div.ficha div.bloco > div.container > div.campo > label > span.nome-menor {
  font-size: .7em;
}

div.ficha div.bloco > div.container > div.campo > label > span.nome-parcial {
  display: block;
  float: left;

  text-align: center;
  box-sizing: border-box;
  line-height: 34px;
}

div.ficha div.bloco > div.container > div.campo > label > span.nome-regra {
  display: block;
  float: left;

  text-align: center;
  font-size: .6em;
  margin-top: -10px;
}

div.ficha div.bloco > div.container > div.campo > div.valores {
  display: block;
  float: left;
  width: 68%;
  box-sizing: border-box;
  font-style: normal;
  font-size: .9em;

  border: 1px solid #000;
  border-top-right-radius: 10px;
}

div.ficha div.bloco100-pericias div.bloco > div.container > div.campo > div.valores {
  width: 47%;
}

div.ficha div.bloco > div.container > div.campo-maior > div.valores {
  width: 48%;
}

div.ficha div.bloco > div.container > div.campo > div.valores::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

/* atributos */
div.ficha div.bloco > div.container > div.campo > div.valores > input[type=number] {
  display: block;
  float: left;
  width: 50%;
  font-style: normal;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);

  border-radius: 0px;
}

div.ficha div.bloco > div.container > div.campo > div.valores > input[type=number].regular {
  border-right: 1px solid #000;
  line-height: 40px;
  text-align: center;
  font-size: 1.4em;
}

div.ficha div.bloco > div.container > div.campo > div.valores > input[type=number].dificil {
  border-bottom: 1px solid #000;
  line-height: 20px;
  text-align: center;
  font-size: .9em;
  text-indent: -4px;

  border-top-right-radius: 10px;
}

div.ficha div.bloco > div.container > div.campo > div.valores > input[type=number].extremo {
  line-height: 19px;
  text-align: center;
  font-size: .9em;
  text-indent: -4px;
}
/* atributos */

div.ficha div.bloco > div.container > div.campo > div.valores > label {
  display: block;
  float: left;
  width: 50%;
  font-style: normal;
  box-sizing: border-box;
}

div.ficha div.bloco > div.container > div.campo > div.valores > label.regular {
  border-right: 1px solid #000;
  line-height: 40px;
  text-align: center;
  font-size: 1.4em;
}

div.ficha div.bloco > div.container > div.campo > div.valores > label.dificil {
  border-bottom: 1px solid #000;
  line-height: 20px;
  text-align: center;
  font-size: .9em;
  text-indent: -4px;
}

div.ficha div.bloco > div.container > div.campo > div.valores > label.extremo {
  line-height: 19px;
  text-align: center;
  font-size: .9em;
  text-indent: -4px;
}

/* Fim - Campos com vários valores */

div.loading {
  display: none;

  background-color: #fdeec5;
  opacity: .6;
  filter: alpha(opacity=60);
  z-index: 2;

  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;

  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

@media (min-width: 850px) {
  main > span.text {
    width: 100%;
  }

  main > span.text > label {
    width: 15%;
  }

  main > span.text > select {
    width: 85%;
  }

  div.ficha {
    padding: 14px;
  }

  div.ficha div.fotografia {
    width: 182px;
    height: 184px;
  }

  div.bloco50 {
    width: 26%;
    float: left;
  }

  div.bloco100 {
    width: 48%;
    float: left;
    margin-left: 2%;
  }

  div.bloco100 div.container {
    min-height: 167px;
  }

  div.bloco100-fluido {
    width: 49%;
  }

  div.bloco100-fluido-right {
    float: right;
  }

  div.bloco66 {
    width: 29%;
  }

  div.bloco33 {
    float: left;
    margin-left: 1%;
    width: 19%;
  }

  div.ficha div.bloco100-pericias div.bloco > div.container > div.campo {
    width: 23%;
    margin: 1%;
  }

  div.ficha div.bloco100-outros div.bloco > div.container > div.arma {
    width: 48%;
    margin: 1%;
  }

  div.ficha div.bloco100-outros div.bloco > div.container > textarea.equipamentos {
    height: 70px;
  }

  div.ficha div.bloco100-outros div.bloco > div.container > div.antecedente {
    width: 48%;
    margin: 1%;
  }

  div.ficha div.bloco100-outros div.bloco > div.container > textarea.anotacoes {
    height: 70px;
  }
}
