* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}
header {
  display: block;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 8px #000000;
  margin-bottom: 14px;

  background-color: #382F2F;
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
}

main {
  display: block;
  width: 900px;
  max-width: 95%;
  box-shadow: 0 0 5px #707070;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;

  font-size: 1em;
  font-weight: bold;

  background-image: url(../img/background3.jpg);
  background-repeat: repeat;
  background-size: 600px;
}

main::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

main > span.text {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 100%;
  margin-bottom: 4px;
  margin-top: 5px;
}

main > span.text > input[type=text] {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 70%;
  border: 1px solid #C0C0C0;
  padding: 4px;
  margin-bottom: 2px;
}

main > span.text > label {
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 0;
  padding-top: 4px;
  width: 30%;
}

main > span.text > select {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 70%;
  border: 1px solid #C0C0C0;
  padding: 4px;
  margin-bottom: 6px;
}

main > span.checkbox {
  display: block;
  float: left;
  box-sizing: border-box;

  width: 50%;
  margin-bottom: 14px;
  margin-top: 5px;
}

span::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

main > span.checkbox > input[type=checkbox] {
  display: block;
  float: left;
  margin-top: 2px;
  margin-right: 4px;
  margin-left: 8px;
}
main > span.checkbox > label {
  display: block;
  float: left;
  padding: 0;
}

button.primary {
  padding: 4px 8px;
  float: right;
  margin-left: 5px;
  background-color: #b71c1c;
  color: #ffffff;
  font-weight: bold;
}
button.second {
  padding: 4px 8px;
  float: right;
  margin-left: 3px;
  margin-top: 5px;
  font-weight: bold;
  background-color: #cccccc;
}
br {
  clear: both;
}
div.botoes {
  display: block;
  margin-top: 5px;
  clear: both;
}
div.botoes::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha {
  display: block;
  width: 900px;
  max-width: 95%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;

  border-radius: 0;
  box-shadow:
	  inset #3A3D3E 0 0 0 2px,
    inset #5A5D3E 0 0 0 4px,
    inset #7A7D3E 0 0 0 6px;

  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;

  height: 1000px;

  background-image: url(../img/background4.jpg);
  background-repeat: repeat;
  background-size: 2000px;
}

div.ficha::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.bloco50 {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

div.bloco50::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.fotografia {
  display: block;
  float: right;
  box-sizing: border-box;

  position: relative;
  width: 182px;
  height: 184px;
}

div.ficha div.fotografia > div.fotografia-interna {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

div.ficha div.fotografia > div.moldura {
  background-image: url(../img/moldura.png);
  background-size: 100%;
  z-index: 1;
}

div.ficha div.fotografia > div.foto {
  background-image: url(../img/default_user.jpg);
  background-size: 95%;
  z-index: 0;

  -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}

div.ficha div.informacoes {
  display: block;
  float: left;
  width: 100%;
  margin-top: 5px;
}

div.ficha div.informacoes-idade {
  width: 30%;
}

div.ficha div.informacoes-nascimento {
  width: 68%;
  margin-left: 2%;
}

div.ficha div.informacoes::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

div.ficha div.informacoes > label {
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
}

div.ficha div.informacoes > label.valor {
  display: block;
  width: 100%;
  height: 29px;
  margin-top: 12px;
  padding-top: 6px;
  font-style: italic;
  border: 1px solid #ccc;
  text-indent: 2px;
  overflow: auto;
}

div.ficha div.informacoes > label.sobrecampo {
  display: block;
  position: absolute;
  line-height: 14px;
  text-align: center;
  border-radius: 3px;

  font-size: 0.7em;
  font-weight: bold;
  background-color: #ccc;

  margin-left: 4px;
  z-index: 1;
}

div.ficha div.informacoes > label.jogador {
  width: 50px;
}

div.ficha div.informacoes > label.personagem {
  width: 74px;
}

div.ficha div.informacoes > label.ocupacao {
  width: 64px;
}

div.ficha div.informacoes > label.idade {
  width: 40px;
}

div.ficha div.informacoes > label.nascimento {
  width: 74px;
}

div.loading {
  display: none;

  background-color: #fdeec5;
  opacity: .6;
  filter: alpha(opacity=60);
  z-index: 2;

  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;

  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

@media (min-width: 800px) {
  main > span.text {
    width: 50%;
    padding-left: 10px;
  }
  main > span.checkbox {
    width: 25%;
    padding-top: 6px;
  }

  div.ficha {
    padding: 14px;
  }

  div.ficha div.fotografia {
    width: 270px;
    height: 273px;
  }
}
